.js-cookie-consent{
    position: absolute;
    top: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: #0bb2d4;
    border-color: orange;
    border: solid 1px ;
}
